.slider-item {
  max-width: 598px;
  &__title {
    font-family: "Montserrat";
    font-style: normal;
    text-align: center;
    color: #f2f4f7;
    font-weight: 300;
    font-size: 72px;
    line-height: 88px;
    @media (max-width: 550px) {
      font-size: 48px;
    }
  }
  &__text {
    margin-top: 32px;
    font-family: "Montserrat";
    font-style: normal;
    text-align: center;
    color: #f2f4f7;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
  }
  &__btn {
    display: block;
    margin: 80px auto 0;
    padding: 15px 95px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: 2px solid;
    border-image: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
    border-image-slice: 1;
    background: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: linear-gradient(#fc3f5f 0%, #7d61ff);
    cursor: pointer;
  }
}
